<a href="https://colab.research.google.com/github/sri67ram/Inceptez_datascience/blob/main/Ex_1_United_States_Crime_Rates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

In [ ]:
Step 2. Import the dataset from this address.

Step 3. Assign it to a variable called crime.

In [ ]:
crime = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv')

In [ ]:
crime.head()

Step 4. What is the type of the columns?

In [ ]:
crime.dtypes

Step 5. Convert the type of the column Year to datetime64

In [ ]:
crime.Year = pd.to_datetime(crime.Year, format='%Y')
crime.info()

Step 6. Set the Year column as the index of the dataframe

In [ ]:
crime.set_index('Year', inplace=True)

Step 7. Delete the Total column

In [ ]:
crime.drop('Total', axis=1, inplace=True)

Step 8. Group the year by decades and sum the values
Pay attention to the Population column number, summing this column is a mistake

In [ ]:
decade=crime.groupby(((crime.index.year)//10)*10).sum().drop('Population', axis=1)
decade.head()

Step 9. What is the most dangerous decade to live in the US?

In [ ]:
decade['Violent'].max()

17527048

In [ ]:
decade.sort_values('Violent', ascending=False).head( 1)

,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,
1990,17527048,119053499,211664,998827,5748930,10568963,26750015,77679366,14624418